#form1{
    border: red 2px solid;
    /* margin-top:0px ; */
    /* margin-bottom: 0px; */
    /* margin-left: 0px; */
    margin-right: 970px;

    padding-left: 63px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}